<div>
  <header class="d-flex flex-wrap align-items-center justify-content-center justify-content-md-between py-3 mb-4 border-bottom">
    <div class="col-md-3 mb-2 mb-md-0">
      <a href="/" class="d-inline-flex link-body-emphasis text-decoration-none">
        <img src="/assets/icons/logo.svg" alt="logo" class="logo" />
      </a>
    </div>

    <ul class="nav col-12 col-md-auto mb-2 justify-content-center mb-md-0 fw-bold">
      <li><a [routerLink]="['pages','home']" class="nav-link px-2">Home</a></li>
      <li><a [routerLink]="['pages','pizza']" class="nav-link px-2">Pizzas</a></li>
      <li><a [routerLink]="['pages','ingredient']" class="nav-link px-2">Ingredients</a></li>
      <li><a [routerLink]="['pages','about']" class="nav-link px-2">About</a></li>
    </ul>

    <div class="col-md-3 text-end">
      <!-- buttons space -->
    </div>
  </header>
</div>
